.titulo-equipos{
    text-align: center;
}

.temporada{
    text-align: center;
    color: blue;
    font-weight: bold;
}

.contenedor-img-equipos{
    text-align: center;
}

.img-equipos{
    width: 150px;
    height: 150px;
}

.titulo-titulos{
    text-align: center;
    color: rgba(226, 30, 128, 1);
    font-weight: bold;
}

.img-titulos{
    width: 130px;
    height: 130px;
}